.pose_controller{
	font-family: sans-serif;
	xxborder: solid thick black;
	width:600px;
}

.pose_controller_sub{
	xxborder: solid thin red;
}

#container{
	border:solid 1px #ccc;
	margin-top: 10px;
	width:600px;
	height:600px;
	xxfloat:left;
}

#exportedImageDiv{
	display:none;
}

#downloadImage{
	xxmargin-left: 160px;
}

#saveImageDiv{
	xxdisplay: inline;
	xxmargin-left: 320px;
}

#control{
	clear: both;
}


.menuItem {
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	cursor:pointer;
}